
$smurfRed: #e4312a;
$smurfBlue: #2fb3df;

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: center;
	background-color: $smurfBlue;
	background-image: url("../img/Smurf-Village.jpg");
	background-size: cover;
	background-position: center;
	font-size: 20px;
}

.rules-list{
	display: none;	
}
.rules-list.active{
	display: block;
	position: absolute;
	top: 30%;
	padding: 20px;
	border-radius: 5px;
	border: 2px solid #000;
	background-color: #fff;
	box-shadow: 0 10px 5px 0 #00000044;
	z-index: 1;

	ul{
		li{
			font-size: 20px;

		}
	}
	.picture-hint{
		display: flex;
		justify-content: center;
		gap: 6px;
	}

	span{
		color: $smurfRed;
	}
	

}

.container{
	background-color: #f1f5f7;
	border-radius: 5px;
	border: 2px solid #000;
	padding: 20px;

}

h1{
	text-align: center;
	
}

.media{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #d3ebf3;
	border-radius: 3px;
	box-shadow: 0 0 5px 0 #00000044;

	.bio{
		display: inherit;
		flex-direction: inherit;
		justify-content: start;
		align-items: center;
		gap: 20px;
	}

	.pfp{
		margin: 10px;
		border: 3px solid #000;
		max-width: 150px;
		border-radius: 3px;
		animation: userShake 2s ease infinite;
	}

	.name{
		margin: 10px;
	}

	.online{
		color: $smurfRed;
		font-weight: bold;
		margin-left: 10px;

	}

	.rules{
		display: inherit;
		flex-direction: inherit;
		justify-content: start;
		align-items: center;

		.rules-img{
			margin: 10px;
			max-width: 100px;
			animation: userShake3 1.5s ease infinite;
			cursor: pointer;
		}
	}

}

@keyframes userShake {
	50%{
		transform: rotate(1deg);
	}
}
@keyframes userShake2 {
	50%{
		transform: rotate(-1deg);
	}
}

@keyframes userShake3 {
	50%{
		transform: scale(1) translate(0%, 2%);;
	}
}

.chat-container{
	height: 50vh;
	overflow: auto;
	border: 1px solid #c7c7c7;

}

a{
	color: #fff;
	text-decoration: underline;
}

.input-group{
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 10px;

	.input{
		border: 1px solid #c7c7c7;
		width: 90%;
		padding: 10px;
		border-radius: 3px;
		box-shadow: 0 0 5px 0 #00000044;

	}

	.btn{
		color: #fff;
		background-color: $smurfRed;
		border: none;
		font-size: 17px;
		margin-left: 10px;
		box-shadow: 0 0 5px 0 #00000044;

	
	}
	
	.btn:hover{
		background-color: $smurfRed;
		color: #fff;
	
	}
}

#sendBtn{
	margin-left: 10px;


}

.botMessage{
	margin: 10px;
	padding: 5px;
	float: left;
	background-color: $smurfRed;
	color: #fff;
}

.userMessage{
	margin: 10px;
	padding: 5px;
	float: right;
	background-color: $smurfBlue;
	color: #fff;
}



@media(max-height:900px){
	
	.container{
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100vh;
		

		.btn{
			display: none;
		}
	}

	#chatContainer{
		display: flex;
		flex-direction: column;
		justify-content: start;	

	}



	
}

@media(max-width:990px){
	.input-group{
		.textbox{
			width: 85%;
		}
	}
}


@media(max-width:768px){

	.input-group{
		.textbox{
			width: 80%;
		}
	}
}

@media(max-width:432px){
	.input-group{
		.textbox{
			width: 75%;
		}
	}
}

@media(max-width:354px){
	.input-group{
		.textbox{
			width: 70%;
		}
	}
}