* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #2fb3df;
  background-image: url("../img/Smurf-Village.jpg");
  background-size: cover;
  background-position: center;
  font-size: 20px;
}

.rules-list {
  display: none;
}

.rules-list.active {
  display: block;
  position: absolute;
  top: 30%;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid #000;
  background-color: #fff;
  box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.2666666667);
  z-index: 1;
}
.rules-list.active ul li {
  font-size: 20px;
}
.rules-list.active .picture-hint {
  display: flex;
  justify-content: center;
  gap: 6px;
}
.rules-list.active span {
  color: #e4312a;
}

.container {
  background-color: #f1f5f7;
  border-radius: 5px;
  border: 2px solid #000;
  padding: 20px;
}

h1 {
  text-align: center;
}

.media {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #d3ebf3;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2666666667);
}
.media .bio {
  display: inherit;
  flex-direction: inherit;
  justify-content: start;
  align-items: center;
  gap: 20px;
}
.media .pfp {
  margin: 10px;
  border: 3px solid #000;
  max-width: 150px;
  border-radius: 3px;
  animation: userShake 2s ease infinite;
}
.media .name {
  margin: 10px;
}
.media .online {
  color: #e4312a;
  font-weight: bold;
  margin-left: 10px;
}
.media .rules {
  display: inherit;
  flex-direction: inherit;
  justify-content: start;
  align-items: center;
}
.media .rules .rules-img {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  max-width: 90px;
  animation: userShake2 1.5s ease infinite;
  cursor: pointer;
}

@keyframes userShake {
  50% {
    transform: rotate(1deg);
  }
}
@keyframes userShake2 {
  50% {
    transform: scale(1) translate(0%, 2%);
  }
}
a {
  color: #fff;
  text-decoration: underline;
}

.chat-container {
  height: 50vh;
  overflow: auto;
  border: 1px solid #c7c7c7;
}

.input-group {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.input-group .input {
  border: 1px solid #c7c7c7;
  width: 90%;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2666666667);
}
.input-group #sendBtn {
  color: #fff;
  background-color: #e4312a;
  border: none;
  font-size: 17px;
  margin-left: 10px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2666666667);
  margin-left: 10px;
}

.botMessage {
  margin: 10px;
  padding: 5px;
  float: left;
  background-color: #e4312a;
  color: #fff;
}

.userMessage {
  margin: 10px;
  padding: 5px;
  float: right;
  background-color: #2fb3df;
  color: #fff;
}

@media (max-height: 900px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 15px;
  }
  .container .media .pfp {
    max-width: 100px;
  }
  .container .media .rules-img {
    max-width: 70px;
  }
  .container .btn {
    display: none;
  }
  #chatContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 5px;
  }
}
@media (max-width: 990px) {
  .input-group .textbox {
    width: 85%;
  }
}
@media (max-width: 768px) {
  .input-group .textbox {
    width: 80%;
  }
}
@media (max-width: 432px) {
  .input-group .textbox {
    width: 75%;
  }
}
@media (max-width: 354px) {
  .input-group .textbox {
    width: 70%;
  }
}/*# sourceMappingURL=style.css.map */